<pos-app>
  <pos-router mode="pod">
    <flow-version-context>
      <main>

        <pos-resource data-page-resource>
          <import-html
            src="/templates/versions/status.html"
          ></import-html>
        </pos-resource>

        <pos-resource data-page-thing>

          <flow-content></flow-content>

          <pos-switch>
            <pos-case
              if-property="https://flowcoop.eu/templates/discussion/terms#outbox"
            >
              <template>
                <section>
                  <pos-list
                    rel="https://flowcoop.eu/templates/discussion/terms#actor"
                    fetch
                  >
                    <template>
                      <import-html
                        src="/templates/discussion/header.html"
                      ></import-html>
                    </template>
                  </pos-list>

                  <pos-list
                    rel="https://flowcoop.eu/templates/discussion/terms#outbox"
                    fetch
                  >
                    <template>
                      <import-html
                        src="/templates/discussion/outbox.html"
                      ></import-html>
                    </template>
                  </pos-list>
                </section>
              </template>
            </pos-case>
          </pos-switch>

        </pos-resource>

        <pos-resource data-page-resource>
          <import-html
            src="/templates/changes.html"
          ></import-html>
        </pos-resource>

      </main>
    </flow-version-context>
  </pos-router>
</pos-app>