<pos-switch>
  <pos-case if-property="http://mementoweb.org/ns#memento">
    <template>
      <pos-rich-link rel="http://mementoweb.org/ns#memento">
        This version
      </pos-rich-link>
    </template>
  </pos-case>
  <pos-case else>
    <template>
      <button color="warning">Draft</button>
    </template>
  </pos-case>
  <pos-case if-property="http://mementoweb.org/ns#original">
    <template>
        <pos-rich-link rel="http://mementoweb.org/ns#original">
          Latest published version
        </pos-rich-link>
    </template>
  </pos-case>
</pos-switch>
